.chat-item(class=isSelected && 'chat-item_active')
  img(src=pic, alt="alt").chat-item__img
  .chat-item__mid-col
    h4.chat-item__name= title
    p.chat-item__preview= text
  .chat-item__right-col
    time.chat-item__time= time
    if unread_count
      p.chat-item__new-counter= unread_count