.content
  .profile-navigation
    |!{backLink}
  .profile
    img(src=avatar alt="avatar").profile__picture
    p.profile__name !{login}
    .rows
      .profile__row
        .profile__key Старый пароль
        .profile__value !{oldPasswordInput}
      .profile__row
        .profile__key Новый пароль
        .profile__value !{newPasswordInput}
      .profile__row
        .profile__key Повторите новый пароль
        .profile__value !{newPasswordRepeatInput}

      .center
        |!{saveButton}