.content
  .profile-navigation
    a(href="../index/index.pug").back-link ❮
  .profile
    img(src=avatar alt="avatar").profile__picture
    p.profile__name !{login}
    .rows
      .profile__row
        .profile__key Почта
        .profile__value !{email}
      .profile__row
        .profile__key Логин
        .profile__value !{login}
      .profile__row
        .profile__key Имя
        .profile__value !{first_name}
      .profile__row
        .profile__key Фамилия
        .profile__value !{second_name}
      .profile__row
        .profile__key Имя в чате
        .profile__value !{first_name} !{second_name}
      .profile__row
        .profile__key Телефон
        .profile__value !{phone}
    .rows
      .profile__row
        a(href="/").profile__link Изменить данные
      .profile__row
        a(href="/").profile__link Изменить пароль
      .profile__row
        |!{exitLink}