.content
  .profile-navigation
    |!{backLink}
  .profile
    img(src=avatar alt="avatar").profile__picture
    p.profile__name !{login}
    .rows
      .profile__row
        .profile__key Почта
        .profile__value !{emailInput}
      .profile__row
        .profile__key Логин
        .profile__value !{loginInput}
      .profile__row
        .profile__key Имя
        .profile__value !{firstNameInput}
      .profile__row
        .profile__key Фамилия
        .profile__value !{secondNameInput}
      .profile__row
        .profile__key Имя в чате
        .profile__value !{displayNameInput}
      .profile__row
        .profile__key Телефон
        .profile__value !{phoneInput}

      .center
        |!{saveButton}